.projects {
    background-color: var(--bg-color2);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    padding-bottom: 5rem;
}

.projectsText {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
}

.projectsText h2 {
    font-size: 2.2rem;
    letter-spacing: 2px;
}

.projectsText p {
    letter-spacing: 0.5px;
}

.projectsContent {
    width: 80%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    align-items: center;
    justify-items: center;
    gap: 30px;
}

.projectItem {
    box-shadow: 6px 6px 3px rgba(17, 17, 17, 0.3);
    background-color: var(--bg-color3);
    width: 325px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 5px;
}

.projectItem img {
    padding: 0.8rem;
    width: 325px;
    height: 226px;
}

.projectInfo {
    width: 325px;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.projectInfo h4 {
    font-size: 1.3rem;
    letter-spacing: 1.5px;   
}

.projectInfo p {
    color: var(--text-gray);
    font-size: 0.8rem;
    text-align: justify;
    height: 90px;
}

.buttonsProject {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.buttonsProject a {
    background-color: var(--bg-color2);
    padding: 5px 20px;
    border-radius: 15px;
    border: 1px solid transparent;
    cursor: pointer;
    color: var(--text-color);
    text-decoration: none;
    transition: all 500ms ease-in;
}

.buttonsProject a:hover,
.buttonsProject a:focus {
    color: var(--bg-color);
  box-shadow: inset 7.5em 0 0 0 var(--blue-option);
}

.projectsSeeMore a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: var(--text-color);
    padding: 0.3rem 0.8rem;
    border: 1px solid var(--blue-option);
    border-radius: 15px;
    transition: all 200ms ease-in;
    font-size: 1rem;
    background-color: var(--bg-color);
}

.projectsSeeMore a:hover {
    border: 1px solid var(--bg-color3);
    color: var(--blue-option);
}