.projects {
    display: flex;
    justify-content: center;
    align-items: center;
}

.projectsContainer {
    display: flex;
    flex-direction: column;
    gap: 50px;
    border-top: 1px solid var(--trace-line);
    width: 100%;
    padding: 0px 60px;
}

.projectsContainer h2 {
    padding-top: 40px;
    font-size: 2.2rem;
    letter-spacing: 2px;
}

.projectsContent {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
    align-items: center;
    justify-items: center;
    gap: 40px;
}

.projectItem {
    background-color: var(--bg-color2);
    filter: blur(50%);
    width: 325px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 5px;
}

.projectItemImg {
    padding: 0.6rem 0;
}

.projectItemImg img {
    border: 1px solid var(--bg-color);
    width: 305px;
    height: 206px;
}

.projectInfo {
    width: 100%;
    padding: 0 1rem;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.projectInfo h4 {
    font-size: 1.3rem;
    letter-spacing: 1.5px;   
}

.projectInfo p {
    color: var(--text-gray);
    font-size: 0.8rem;
    text-align: justify;
    height: 80px;
}

.buttonsProject {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding-bottom: 20px;
}

.buttonsProject a {
    background-color: var(--bg-color);
    padding: 5px 20px;
    border-radius: 15px;
    border: 1px solid transparent;
    cursor: pointer;
    color: var(--text-color);
    text-decoration: none;
    transition: all 300ms ease-in;
}

.buttonsProject a:hover {
    background-color: var(--bg-color);
    border: 1px solid white;
}
.projectsSeeMore {
    display: flex;
    justify-content: center;
}

.projectsSeeMore a {
    background-color: var(--bg-color2);
    text-decoration: none;
    color: var(--text-color);
    padding: 0.3rem 1.8rem;
    border-radius: 15px;
    transition: all 200ms ease-in;
    font-size: 1rem;
}

.projectsSeeMore a:hover {
    color: var(--blue-option);
}

@media (max-width: 768px) {
    .projects {
        padding: 2rem;
    }

    .projectsContainer {
        padding: 0px 10px;
    }
    .projectsContainer {
        text-align: center;
    }
      
}