.header {
    width: 100%;
    position: fixed;
    z-index: 99;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 65px;
    background-color: var(--bg-color);
    padding: 0px 60px;
    box-shadow: 5px 8px 5px var(--bg-color3);
}

.headerLogo {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.headerLogo h2 {
    font-family: 'Kanit', sans-serif;
    font-size: 2rem;
}

.headerLogo strong {
    color: var(--blue-option);
}

.headerNav {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.headerNav a{
    color: var(--text-color);
    font-size: 1rem;
    text-decoration: none;
    transition: all 200ms ease-in-out;
}

.headerNav a:hover{
    color: var(--blue-option);
}

.menuHamb {
    display: none;   
}

.menuHamb svg {
    transition: 0.4s all linear;
    cursor: pointer;
}

.menuResponsive {
    display: none;
    width: 200px;
    height: 20vh;
    position: fixed;
    z-index: 99;
    border-radius: 15px;
    top: 75px;
    right: 10px;
    transition: 850ms all ease-in;
    background-color: var(--bg-color2);
}

.menuItens {
    height: 90%;
    margin: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

.menuItens a {
    color: var(--text-color);
    font-size: 1rem;
    text-decoration: none;
    transition: all 200ms ease-in;  
}

.menuItens a:hover{
    color: var(--blue-option);
}

.active {
    display: block;
}

.desactive {
    display: none;
}

@media (max-width: 1046px) {
    .header {
        padding: 0 50px;
    }
}

@media (max-width:968px) {
    .headerNav {
        display: none;
    }
    .menuHamb {
        display: block;
    }

    .header {
        padding: 0 25px;
        justify-content: space-between;
    }

}