.contacts {
    padding: 50px 0px;
    display: flex;
    background-color: var(--bg-color3);
    align-items: center;
    justify-content: center;
    gap: 80px;
    border-bottom: 0.25px solid var(--bg-color2);
}

.contactItem {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

.contactItem a {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--blue-option);
}

.footer {
    background-color: var(--bg-color3);
    padding: 1.1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer small {
    font-size: 0.9rem;
}