.footer {
    background-color: var(--bg-color3);
    padding: 1.1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer small {
    font-size: 0.9rem;
}

@media (max-width:1120px) {
    .contacts {
        display: flex;
        justify-content: flex-start;
        flex-direction: column;
        gap: 50px;
    }

}