@import url('https://fonts.googleapis.com/css2?family=Lato');
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  width: 100%;
  height: 100vh;
  scroll-behavior: smooth;
  background-color: var(--bg-color);
  color: var(--white-color);
}

body {
  font-family: 'Lato', helvetica, sans-serif;
  background-size: 400%;
}

:root {
  --bg-color: #1f242d;
  --bg-color2: #2a303b;
  --bg-color3: #1c2027;
  --blue-option: #00abf0;
  --white-color: #fff;
  --gray-color: #9f9f9f;
}

::-webkit-scrollbar {
  width: 10px;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: var(--blue-option);
}