@import url('https://fonts.googleapis.com/css2?family=Lato');
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  width: 100%;
  height: 100vh;
  scroll-behavior: smooth;
  background-color: var(--bg-color);
  color: var(--white-color);
}

body {
  font-family: 'Lato', helvetica, sans-serif;
  background-size: 400%;
}

section {
  padding: 2rem 5rem;
}

@media(max-width: 480px) {
  section {
    padding: 2rem 2rem;
  }
  
}

:root {
  --bg-color: #15181e;
  --bg-color2: #1b1d26;
  --bg-color3: #131317;
  --bg-color4: #3b3f4f;
  --blue-option: #00abf0;
  --white-color: #fff;
  --gray-color: #9f9f9f;
  --trace-line: rgb(60, 60, 60);
}

::-webkit-scrollbar {
  width: 10px;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: var(--blue-option);
}