.aboutMe {
    background-color: var(--bg-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.aboutMeText {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
}

.aboutMeText h2 {
    font-size: 2.2rem;
    letter-spacing: 2px;
}

.aboutMeText p {
    letter-spacing: 0.5px;
}

.aboutMeContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 50px;
    width: 80%;
}

.contentText {
    text-align: center;
}

.contentIcons {
    margin-left: 10%;
    width: 65%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 25px;
    text-align: start;
}