.aboutMe {
    background-color: var(--bg-color2);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.aboutMeText {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
}

.aboutMeText h2 {
    font-size: 2.2rem;
    letter-spacing: 2px;
    margin-bottom: 20px;
}

.aboutMeContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 50px;
    width: 60%;
}

.contentText {
    text-align: center;
    letter-spacing: 0.5px;
}

.contentIcons {
    margin-left: 10%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 25px;
    text-align: start;
}

.contentIcons p {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
}

.contentIcons svg {
    color: var(--blue-option);
}

@media (max-width: 560px) {
    .aboutMeContent {
        width: 90%;
    }
    .contentIcons {
        margin: 0;
        grid-template-columns: 1fr;
    }
    .contentIcons p {
        font-size: 0.8rem;
    }
      
}